## Class Workbook: Week One

Let's dive in and get familiar with Python! We will be using Python 3.6 throughout the course.

Right now, we're using Jupyter Notebook, a browser-based interactive environment that lets you execute "cells" or blocks of code in chunks. Any variables you assign will persist across diffrent cells. You can also make certain cells 'Markdown' cells that contain text, such as this one.

To execute a block of code, hit "shift" and "enter"

Below is a print function, where we can print a statement. Try it out!

In [1]:
print('Here is my first line of Python code!')

Here is my first line of Python code!

Note that in Jupyter Notebook you can return a value without formally printing it, like below

In [2]:
'Here is my second line of Python code!'

'Here is my second line of Python code!'

We can also define variables as strings or integers, among many other things. Variables defined in one cell will persist across the notebook until you redefine them.

In [3]:
a = 3
print('Here is my first variable:', a)
a = 5
print('Now the variable has changed:', a)

Here is my first variable: 3
Now the variable has changed: 5

In a Jupyter notebook, you can also simply enter a variable into a cell to display its value, rather than using the print function. This only works if the variable is the last line of the cell or is alone.

In [4]:
a = 3
a

3

In [5]:
a = 3
a
b = 4

You can use the 'type' function to get the type of variable - some common ones include integers, floats and strings.

In [6]:
a = 3
print(a, type(a))
a = 3.0
print(a, type(a))
a = 'example_string'
print(a, type(a))

3 <class 'int'>
3.0 <class 'float'>
example_string <class 'str'>

You can also do numeric operations in Python, with raw numbers or variables.

In [7]:
print('3 + 4 =', 3 + 4)
print('3 - 4 =', 3 - 4)
print('3 * 4 =', 3 * 4)
print('3 / 4 =', 3 / 4)
a = 3
b = 4
print('3 / 4 =', a/b)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75
3 / 4 = 0.75

You can also store numbers or strings in different formats. You can use a **list** to store an array of items.

In [8]:
list_of_strings = ['list', 'of', 'strings']
list_of_numbers = [0,1,2]
print(len(list_of_strings))
print(list_of_strings)

3
['list', 'of', 'strings']

Python uses 0-based indexing, meaning that if you want to access the first item in a list, you refer to the item in the 0-th position.

In [9]:
list_of_strings[0]

'list'

You can also use negative numbers to refer to the end of a list - the last item in a list would have a value of **negative 1**.

In [10]:
list_of_numbers[-1]

2

Lists are **mutable**, meaning you can edit values in the list after they are created.

In [11]:
list_of_strings[0] = 'new_value'
list_of_strings

['new_value', 'of', 'strings']

You can easily add more items to a list once it's created using the **append** function.

In [12]:
list_of_strings.append('appended_value')
list_of_strings

['new_value', 'of', 'strings', 'appended_value']

You can use a for loop to iterate through a list and perform an operation on it.

In [13]:
for i in list_of_numbers: #note this i can be anything
    print(i + 1)

1
2
3

In [14]:
for j in list_of_numbers:
    print(j + 1)

1
2
3

The homework this week will go in depth to some of these core functions and much more - let's look into **importing packages**.

In [15]:
import random
import scipy.stats as stats
import statsmodels.api as sm
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

You can then cite these packages by name in your code. We'll obviously cover this in much more detail, but here are some brief examples.

In [16]:
print('Pick a random number between 1 and 100:', random.randint(1, 100))
print('Create a Numpy Array:', np.array([1,2,3,4,5]))
print('Retrieve the Number One Singles of 2019 using Pandas')
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_Billboard_Hot_100_number-one_singles_of_2019', header=0)[0]
df

Pick a random number between 1 and 100: 99
Create a Numpy Array: [1 2 3 4 5]
Retrieve the Number One Singles of 2019 using Pandas

,No.,Issue date,Song,Artist(s),Ref.
0,re,January 5,"""Thank U, Next""",Ariana Grande,[1]
1,1081,January 12,"""Without Me""",Halsey,[2]
2,1082,January 19,"""Sunflower""",Post Malone and Swae Lee,[3]
3,re,January 26,"""Without Me""",Halsey,[4]
4,1083,February 2,"""7 Rings""",Ariana Grande,[5]
5,1083,February 9,"""7 Rings""",Ariana Grande,[6]
6,1083,February 16,"""7 Rings""",Ariana Grande,[7]
7,1083,February 23,"""7 Rings""",Ariana Grande,[8]
8,1083,March 2,"""7 Rings""",Ariana Grande,[9]
9,1084,March 9,"""Shallow""",Lady Gaga and Bradley Cooper,[10]
10,1085,March 16,"""Sucker""",Jonas Brothers,[11]
11,re,March 23,"""7 Rings""",Ariana Grande,[12]
12,re,March 30,"""7 Rings""",Ariana Grande,[13]
13,re,April 6,"""7 Rings""",Ariana Grande,[14]
14,1086,April 13,"""Old Town Road""",Lil Nas X,[15]
15,1086,April 20,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[16]
16,1086,April 27,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[17]
17,1086,May 4,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[18]
18,1086,May 11,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[19]
19,1086,May 18,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[20]
20,1086,May 25,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[21]
21,1086,June 1,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[22]
22,1086,June 8,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[23]
23,1086,June 15,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[24]
24,1086,June 22,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[25]
25,1086,June 29,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[26]
26,1086,July 6,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[27]
27,1086,July 13,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[28]
28,1086,July 20,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[29]
29,1086,July 27,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[30]
30,1086,August 3,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[31]
31,1086,August 10,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[32]
32,1086,August 17,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[33]
33,1087,August 24,"""Bad Guy""",Billie Eilish,[34]
34,1088,August 31,"""Señorita""",Shawn Mendes and Camila Cabello,[35]

### What just happened?

In one line of code, we were able to scrape Wikipedia and retrieve a **dataframe** from an HTML table on the page using Pandas.

We will be using Pandas often in class - it is essential to the course that you become comfortable with it. The homework will cover Pandas functions, and we will continue to work through them next week. Let's run through a few quick introductory functions.

In [17]:
#Retrieve the shape of the DataFrame
df.shape

(35, 5)

The dataframe has 35 rows and 5 columns.

In [18]:
#List the columns of the dataframe
df.columns

Index(['No.', 'Issue date', 'Song', 'Artist(s)', 'Ref.'], dtype='object')

In [19]:
#Get the types of variables in each column.
df.dtypes

No.           object
Issue date    object
Song          object
Artist(s)     object
Ref.          object
dtype: object

In [20]:
#Look at just a single column
df['Song']

0     "Thank U, Next"
1        "Without Me"
2         "Sunflower"
3        "Without Me"
4           "7 Rings"
5           "7 Rings"
6           "7 Rings"
7           "7 Rings"
8           "7 Rings"
9           "Shallow"
10           "Sucker"
11          "7 Rings"
12          "7 Rings"
13          "7 Rings"
14    "Old Town Road"
15    "Old Town Road"
16    "Old Town Road"
17    "Old Town Road"
18    "Old Town Road"
19    "Old Town Road"
20    "Old Town Road"
21    "Old Town Road"
22    "Old Town Road"
23    "Old Town Road"
24    "Old Town Road"
25    "Old Town Road"
26    "Old Town Road"
27    "Old Town Road"
28    "Old Town Road"
29    "Old Town Road"
30    "Old Town Road"
31    "Old Town Road"
32    "Old Town Road"
33          "Bad Guy"
34         "Señorita"
Name: Song, dtype: object

In [21]:
#Look at multiple columns
df[['Song', 'Artist(s)']]

               Song                               Artist(s)
0   "Thank U, Next"                           Ariana Grande
1      "Without Me"                                  Halsey
2       "Sunflower"                Post Malone and Swae Lee
3      "Without Me"                                  Halsey
4         "7 Rings"                           Ariana Grande
5         "7 Rings"                           Ariana Grande
6         "7 Rings"                           Ariana Grande
7         "7 Rings"                           Ariana Grande
8         "7 Rings"                           Ariana Grande
9         "Shallow"            Lady Gaga and Bradley Cooper
10         "Sucker"                          Jonas Brothers
11        "7 Rings"                           Ariana Grande
12        "7 Rings"                           Ariana Grande
13        "7 Rings"                           Ariana Grande
14  "Old Town Road"                               Lil Nas X
15  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
16  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
17  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
18  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
19  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
20  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
21  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
22  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
23  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
24  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
25  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
26  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
27  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
28  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
29  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
30  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
31  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
32  "Old Town Road"  Lil Nas X featuring Billy Ray Cyrus[a]
33        "Bad Guy"                           Billie Eilish
34       "Señorita"         Shawn Mendes and Camila Cabello

In [22]:
#Look at just the first five rows of the dataframe
df.head()

    No.  Issue date             Song                 Artist(s) Ref.
0    re   January 5  "Thank U, Next"             Ariana Grande  [1]
1  1081  January 12     "Without Me"                    Halsey  [2]
2  1082  January 19      "Sunflower"  Post Malone and Swae Lee  [3]
3    re  January 26     "Without Me"                    Halsey  [4]
4  1083  February 2        "7 Rings"             Ariana Grande  [5]

In [23]:
#Look at just the last five rows of the dataframe
df.tail()

,No.,Issue date,Song,Artist(s),Ref.
30,1086,August 3,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[31]
31,1086,August 10,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[32]
32,1086,August 17,"""Old Town Road""",Lil Nas X featuring Billy Ray Cyrus[a],[33]
33,1087,August 24,"""Bad Guy""",Billie Eilish,[34]
34,1088,August 31,"""Señorita""",Shawn Mendes and Camila Cabello,[35]

In [24]:
#Get the number of times each song appears in the dataset.
df['Song'].value_counts()

"Old Town Road"    19
"7 Rings"           8
"Without Me"        2
"Thank U, Next"     1
"Shallow"           1
"Bad Guy"           1
"Sucker"            1
"Señorita"          1
"Sunflower"         1
Name: Song, dtype: int64

## A bit about these packages

The **random** and **stats** packages will be most useful for the probability section of the course, where we will learn about distributions and even simulate distributions with them. We'll use the **statsmodels** package later in the course when we do regression.

We will start using **numpy** and **pandas** packages next week for data exploration. Numpy is an extremely powerful package for storing data arrays, so much so that it actually powers **pandas**. **Pandas** helps you explore data by working with dataframes, similar to a SQL database or even an Excel spreadsheet.

The **matplotlib** and **seaborn** packages are for data visualization.

## More on Jupyter Notebook

#### Change from Code to Markdown

In the dropdown menu above (under Kernel/Widgets), you can change from code to markdown or vice versa for the given cell you're in. If you are in command mode, you can press Shift+M to go into Markdown mode. or Shift+Y to go into Code mode.

#### Edit Mode and Command Mode

There are two 'modes' to Jupyter: edit mode and command mode. When you are in edit mode, the bar to the left will be green, and you can actively type in the cell; the keyboard will act as normal. When you are in command mode, the bar to the left will be blue. Note that when you are in command mode you can press up or down to move between cells. To get to command mode from edit mode, press escape in the cell that you are currently in.


#### Adding/Deleting Cells

When you are in command mode, you can delete the cell you are currently in by pressing DD (capitalized). To undo a deleted cell, press Z while in command mode. To create a new cell above your current cell by pressing A (capitalized). Or, you can create a new cell *below* your current cell by pressing B (capitalized). Of course you can also use the dropdown menu to perform these actions.

#### Exporting Your File:

On the upper left, note that you can go to 'Download as' and download the notebook as an 'ipynb' file. When you submit your homework to me this week, please email me the ipynb file you downloaded.

Also please note that you are not restricted to the workbooks that are in this repository! You can create a new workbook, import any of the above packages you need, and go from there.

## Using Binder

I chose Binder for this course because it requires the least amount of setup - all you need to do is click a link and an interactive environment with everything you need will be loaded within seconds. That said - it certainly has its limitations:

1) A notebook will only last 12 hours in total, and may timeout after 10 minutes of 'inactivity'. Binder is a playground to test around code with, but I would store any answers or anything you plan on submitting elsewhere while you're working on it. **SAVE OFTEN, BE OCD ABOUT HITTING CTRL + S**

2) Binder has a limit of 1 - 2 GB of RAM for a given notebook. We should not come anything close to that since we'll be working on relatively small datasets, but it's something to keep in mind.

3) If you want to work on something, save it, and work on it later, you can download your file (File -> Download as ipynb) and then upload it later on a new Binder instance. This is a bit primitive, but failsafe.

While you can also download Python onto your machine (instructions will be in this week's homework) and work that way, I'm sure there will be issues that come up given the different types of machines and operating systems people have. Fundamentally you should be able to complete this course using just Binder.